<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Base MVC Application - Page not found</title>
</head>
<body>
<h1 style="color: red">404:</h1>
<p style="color: red">Page not found on this server</p>
</body>
</html>
