<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Base MVC Application - Football Tim </title>
</head>
<body>
<h1 style="color: darkslateblue"> </h1>
<p>
    Hello {{ name }}!
</p>
</body>
</html>
