<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Base MVC Application - Football Tim</title>
</head>
<body>
<h1 style="color: darkslateblue">Tims</h1>
<p>
    Tims <a href="tim/barsa">Champoin</a>
    and <a href="tim/real">new Champoin</a>
</p>
</body>
</html>
